{% extends "base.html" %}

{% block title %}todoRestful{% endblock %}
{% block content %}
<div class="container">
    <h1>service list</h1>

    <!-- button type="button" class="btn btn-primary btn-sm" name="btnEdit">编辑</button -->
    <button type="button" class="btn btn-primary btn-sm" id="btnPush">更新</button>
    <button type="button" class="btn btn-primary btn-sm" id="btnDel">删除</button>
    <div ><p style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><a href="{{todo.url}}">{{todo.url}}</a></p></div>
    {% include "browser/url.html" %}

        
    <table style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped" id="myTable">
        <caption>访问记录列表</caption>
        <thead>
        <th style='width:10%;'>index</th>
        <th style='width:30%;'>name</th>
        <th style='width:30%;'>url</th>
        <th style='width:10%;'>status</th>
        <th style='width:20%;'>time</th>
        </thead>
        <tbody>
        <meta charset="UTF-8">
        {% for v in visit_list %}
        <tr>
            <td>{{ loop.index}}</td>
            <td> <a href="/visits/{{v.id}}">{{v.urls.title}}</a></td>
            <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"> <a href="/urls/{{v.url}}">{{v.urls.url}}</a></td>
            <td><input type="checkbox" value="checkbox"></td>
            <td>{{v._visit_time}}</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    $('#btnPush').click(function () {
        var dt = newToJson();
        if (dt.name == '') {
            alert('input none');
            return;
        }
        console.log('dt=', dt);
        putData(dt);
    })
    $('#btnDel').click(function () {
        delData();
    })

    // put请求
    function putData(dt) {
        $.ajax({
            url: "/todos/api/{{todo.id}}",
            type: 'put',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(dt),
            success: function (data) {
                console.log("put=", data);
                window.location.reload();
            },
            error: function () {
                console.log("put error");
            }
        })
    }

    function delData() {
        $.ajax({
            url: "/todos/api/{{todo.id}}",
            type: 'delete',
            success: function (data) {
                console.log("delete=", data);
                window.location.href = "/todos";
            },
            error: function () {
                console.log("delete error");
            }
        })
    }
</script>
{% endblock %}