<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-xs-2 control-label">Name&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="inputTitle" name="Name" value="{{todo.urls.title}}">
        </div>
        <label class="col-xs-2 control-label">Url&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="inputUrl" name="Url" value="{{todo.urls.url}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">日期时间</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="TimeInput" name="Datetime" value="{{todo._visit_time}}">
        </div>
        <label class="col-xs-2 control-label">visit_duration</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="TimeDuration" name="Duration" value="{{todo.visit_duration/1000}}">
        </div>
    </div>
    <!--a href="/todos/api/{{todo.id}}">{{todo.name}}</a -->
</form>

<script>
    function newToJson() {
        return {
            name: $('#inputName').val(),
            status: $("#chkIsProject")[0].checked,
            tag: $("#cmbTag").val(),
            progress: parseInt($('#inputProgress').val()),
        }
    }
</script>