{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Welcome {{ username }}</h1>
  <h3>Jobs page.</h3>

  <table class="table">
    <thead>
      <th>index</th>
      <th>title        </th>
      <th>createTime</th>
      <th>content</th>
    </thead>
    <tbody>
      {% for tz in jobs %}
      <tr>
        <td>{{ loop.index}}</td>
        <td> <a href="{{ tz.link}}">{{tz.title}}</a> </td>
        <td>{{ tz.createTime}}</td>
        <td>{{ tz.content}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}